Repository Sparker95/Vindicta, pull requests merged in 2020-01, with the labels that each got.

#336 Merge arsenals action.
  Vindicta.Altis/JeroenArsenal/JNA/defineCommon.inc
  Vindicta.Altis/JeroenArsenal/JNA/fn_arsenal.sqf
  Vindicta.Altis/JeroenArsenal/JNA/fn_arsenal_arsenalToArsenal.sqf
  Vindicta.Altis/JeroenArsenal/JNA/fn_arsenal_container.sqf
  Vindicta.Altis/JeroenArsenal/JNA/fn_arsenal_init.sqf
  Vindicta.Altis/JeroenArsenal/JNA/fn_arsenal_loadInventory.sqf
  Vindicta.Altis/JeroenArsenal/JNA/fn_arsenal_removeItem.sqf
  Vindicta.Altis/JeroenArsenal/Test/copyFunctions.sqf
  Vindicta.Altis/JeroenArsenal/functions.hpp
  Vindicta.Altis/stringtable.xml
Labels: Arsenal, enhancement

#332 Police response improvements, build UI fixes
  Vindicta.Altis/AI/Commander/AICommander.sqf
  Vindicta.Altis/ClientSideChecks/PlayerMonitor.sqf
  Vindicta.Altis/DebugMenu/DebugMenu.sqf
  Vindicta.Altis/GameMode/CivilWar/CivilWarGameMode.sqf
  Vindicta.Altis/GameMode/CivilWar/Missions/SaboteurCivilians.sqf
  Vindicta.Altis/GameMode/CivilWar/common.hpp
  Vindicta.Altis/GameMode/LocationGameModeData.sqf
  Vindicta.Altis/GameMode/common.hpp
  Vindicta.Altis/Location/Location.sqf
  Vindicta.Altis/OOP_Light/OOP_Light.h
  Vindicta.Altis/Templates/Factions/POLICE.sqf
  Vindicta.Altis/UI/BuildUI/BuildUI.sqf
  Vindicta.Altis/UI/DialogBase/DialogBase.sqf
  Vindicta.Altis/UI/InGameMenu/InGameMenuTabGameModeInit.sqf
  Vindicta.Altis/UI/InGameMenu/InGameMenuTabSave.sqf
  Vindicta.Altis/UI/InGameUI/InGameUI.sqf
  Vindicta.Altis/Unit/Unit.sqf
Labels: build-ui, enhancement

#297 ACRE Support
  AUTHORS.md
  Vindicta.Altis/Unit/Unit.sqf
Labels: enhancement

#346 Officers
  Vindicta.Altis/AI/Commander/AICommander.hpp
  Vindicta.Altis/AI/Commander/AICommander.sqf
  Vindicta.Altis/AI/Commander/CmdrAction/ASTs/AST_MergeOrJoinTarget.sqf
  Vindicta.Altis/AI/Commander/CmdrAction/ASTs/AST_MoveGarrison.sqf
  Vindicta.Altis/AI/Commander/CmdrAction/Actions/ConstructLocationCmdrAction.sqf
  Vindicta.Altis/AI/Commander/CmdrAction/Actions/PatrolCmdrAction.sqf
  Vindicta.Altis/AI/Commander/CmdrAction/Actions/QRFCmdrAction.sqf
  Vindicta.Altis/AI/Commander/CmdrAction/Actions/ReinforceCmdrAction.sqf
  Vindicta.Altis/AI/Commander/CmdrAction/Actions/TakeLocationCmdrAction.sqf
  Vindicta.Altis/AI/Commander/CmdrAction/Actions/TransportLogisticsCmdrAction.sqf
  Vindicta.Altis/AI/Commander/Model/GarrisonModel.sqf
  Vindicta.Altis/AI/Garrison/ActionGarrisonDefendPassive.sqf
  Vindicta.Altis/AI/Garrison/ActionGarrisonRelax.sqf
  Vindicta.Altis/GameMode/CivilWar/CivilWarGameMode.sqf
  Vindicta.Altis/GameMode/GameModeBase.sqf
  Vindicta.Altis/Garrison/Garrison.sqf
  Vindicta.Altis/Group/Group.hpp
  Vindicta.Altis/Intel/Intel.sqf
  Vindicta.Altis/OOP_Light/OOP_Light.h
  Vindicta.Altis/OOP_Light/OOP_Light_init.sqf
  Vindicta.Altis/SaveSystem/Storage.sqf
  Vindicta.Altis/Templates/CompositionFunctions.sqf
  Vindicta.Altis/Templates/Factions/AAF.sqf
  Vindicta.Altis/Templates/Factions/default.sqf
  Vindicta.Altis/Templates/common.hpp
  Vindicta.Altis/Templates/initCategories.sqf
  Vindicta.Altis/Templates/initComposition.sqf
  Vindicta.Altis/Templates/initEfficiency.sqf
  Vindicta.Altis/UI/ClientMapUI/ClientMapUI.sqf
  Vindicta.Altis/UI/ClientMapUI/Controls/IntelPanel.h
  Vindicta.Altis/Undercover/undercoverMonitor.sqf
  Vindicta.Altis/test/allocatorTest.sqf
  vscode.code-workspace
Labels: AI, enhancement, gameplay
